.link-primary {
    color: #fd5631
}

.link-primary:hover,.link-primary:focus {
    color: #fd785a
}

.link-accent {
    color: #5d3cf2
}

.link-accent:hover,.link-accent:focus {
    color: #4a30c2
}

.link-secondary {
    color: #f5f4f8
}

.link-secondary:hover,.link-secondary:focus {
    color: #f7f6f9
}

.link-success {
    color: #07c98b
}

.link-success:hover,.link-success:focus {
    color: #39d4a2
}

.link-info {
    color: #3c76f2
}

.link-info:hover,.link-info:focus {
    color: #6391f5
}

.link-warning {
    color: #fdbc31
}

.link-warning:hover,.link-warning:focus {
    color: #fdc95a
}

.link-danger {
    color: #f23c49
}

.link-danger:hover,.link-danger:focus {
    color: #f5636d
}

.link-light {
    color: #fff
}

.link-light:hover,.link-light:focus {
    color: #fff
}

.link-dark {
    color: #1f1b2d
}

.link-dark:hover,.link-dark:focus {
    color: #191624
}

