.dropup,.dropend,.dropdown,.dropstart {
    position: relative
}

.dropdown-toggle {
    white-space: nowrap
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 0.875rem;
    color: #666276;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #efecf3;
    border-radius: .75rem;
    box-shadow: 0 .125rem .125rem -0.125rem rgba(31,27,45,.08),0 .25rem .75rem rgba(31,27,45,.08)
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 0
}

.dropdown-menu-start {
    --jr-position: start
}

.dropdown-menu-start[data-bs-popper] {
    right: auto;
    left: 0
}

.dropdown-menu-end {
    --jr-position: end
}

.dropdown-menu-end[data-bs-popper] {
    right: 0;
    left: auto
}

@media(min-width: 500px) {
    .dropdown-menu-sm-start {
        --jr-position: start
    }

    .dropdown-menu-sm-start[data-bs-popper] {
        right: auto;
        left: 0
    }

    .dropdown-menu-sm-end {
        --jr-position: end
    }

    .dropdown-menu-sm-end[data-bs-popper] {
        right: 0;
        left: auto
    }
}

@media(min-width: 768px) {
    .dropdown-menu-md-start {
        --jr-position: start
    }

    .dropdown-menu-md-start[data-bs-popper] {
        right: auto;
        left: 0
    }

    .dropdown-menu-md-end {
        --jr-position: end
    }

    .dropdown-menu-md-end[data-bs-popper] {
        right: 0;
        left: auto
    }
}

@media(min-width: 992px) {
    .dropdown-menu-lg-start {
        --jr-position: start
    }

    .dropdown-menu-lg-start[data-bs-popper] {
        right: auto;
        left: 0
    }

    .dropdown-menu-lg-end {
        --jr-position: end
    }

    .dropdown-menu-lg-end[data-bs-popper] {
        right: 0;
        left: auto
    }
}

@media(min-width: 1200px) {
    .dropdown-menu-xl-start {
        --jr-position: start
    }

    .dropdown-menu-xl-start[data-bs-popper] {
        right: auto;
        left: 0
    }

    .dropdown-menu-xl-end {
        --jr-position: end
    }

    .dropdown-menu-xl-end[data-bs-popper] {
        right: 0;
        left: auto
    }
}

@media(min-width: 1400px) {
    .dropdown-menu-xxl-start {
        --jr-position: start
    }

    .dropdown-menu-xxl-start[data-bs-popper] {
        right: auto;
        left: 0
    }

    .dropdown-menu-xxl-end {
        --jr-position: end
    }

    .dropdown-menu-xxl-end[data-bs-popper] {
        right: 0;
        left: auto
    }
}

.dropup .dropdown-menu[data-bs-popper] {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 0
}

.dropend .dropdown-menu[data-bs-popper] {
    top: 0;
    right: auto;
    left: 100%;
    margin-top: 0;
    margin-left: 0
}

.dropend .dropdown-toggle::after {
    vertical-align: 0
}

.dropstart .dropdown-menu[data-bs-popper] {
    top: 0;
    right: 100%;
    left: auto;
    margin-top: 0;
    margin-right: 0
}

.dropstart .dropdown-toggle::before {
    vertical-align: 0
}

.dropdown-divider {
    height: 0;
    margin: .375rem 0;
    overflow: hidden;
    border-top: 1px solid #efecf3
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .375rem 1rem;
    clear: both;
    font-weight: 400;
    color: #454056;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.dropdown-item:hover,.dropdown-item:focus {
    color: #fd5631;
    background-color: transparent
}

.dropdown-item.active,.dropdown-item:active {
    color: #fd5631;
    text-decoration: none;
    background-color: transparent
}

.dropdown-item.disabled,.dropdown-item:disabled {
    color: #9691a4;
    pointer-events: none;
    background-color: transparent
}

.dropdown-menu.show {
    display: block
}

.dropdown-header {
    display: block;
    padding: .5rem 1rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #1f1b2d;
    white-space: nowrap
}

.dropdown-item-text {
    display: block;
    padding: .375rem 1rem;
    color: #454056
}

.dropdown-menu-dark {
    color: rgba(255,255,255,.65);
    background-color: #1f1b2d;
    border-color: rgba(255,255,255,.15);
    box-shadow: none
}

.dropdown-menu-dark .dropdown-item {
    color: rgba(255,255,255,.65)
}

.dropdown-menu-dark .dropdown-item:hover,.dropdown-menu-dark .dropdown-item:focus {
    color: #fff;
    background-color: transparent
}

.dropdown-menu-dark .dropdown-item.active,.dropdown-menu-dark .dropdown-item:active {
    color: #fff;
    background-color: transparent
}

.dropdown-menu-dark .dropdown-item.disabled,.dropdown-menu-dark .dropdown-item:disabled {
    color: rgba(255,255,255,.4)
}

.dropdown-menu-dark .dropdown-divider {
    border-color: rgba(255,255,255,.15)
}

.dropdown-menu-dark .dropdown-item-text {
    color: rgba(255,255,255,.65)
}

.dropdown-menu-dark .dropdown-header {
    color: #fff
}
.dropdown-toggle-split {
    padding-right: 1.125rem;
    padding-left: 1.125rem
}

.dropdown-toggle-split::after,.dropup .dropdown-toggle-split::after,.dropend .dropdown-toggle-split::after {
    margin-left: 0
}

.dropstart .dropdown-toggle-split::before {
    margin-right: 0
}
.dropdown-toggle::after,.dropdown-toggle::before {
    display: inline-block;
    font-family: "finder-icons";
    font-size: .65em;
    font-weight: normal;
    vertical-align: middle
}

.dropdown-toggle::after {
    margin-left: .5rem;
    content: ""
}

.dropdown-toggle::before {
    margin-right: .25rem
}

.dropdown-toggle:not(.dropdown-toggle-split)::before {
    margin-left: -0.25rem
}

.dropdown-toggle:not(.dropdown-toggle-split)::after {
    margin-right: -0.25rem
}

.dropdown .dropdown-toggle::before,.dropup .dropdown-toggle::before,.dropend .dropdown-toggle::before {
    display: none
}

.dropup .dropdown-toggle::after {
    content: ""
}

.dropend .dropdown-toggle::after {
    content: ""
}

.dropstart .dropdown-toggle::before {
    content: ""
}

.dropstart .dropdown-toggle::after {
    display: none
}

h1 .dropdown-toggle::after,h2 .dropdown-toggle::after,h3 .dropdown-toggle::after,h4 .dropdown-toggle::after,h5 .dropdown-toggle::after,.h5 .dropdown-toggle::after,h6 .dropdown-toggle::after,.h1 .dropdown-toggle::after,.h2 .dropdown-toggle::after,.h3 .dropdown-toggle::after,.h4 .dropdown-toggle::after,.h6 .dropdown-toggle::after {
    font-size: 1rem
}

.dropdown-menu li {
    margin-bottom: 0
}

.dropdown-menu li:hover>.dropdown-item {
    color: #fd5631
}

.dropdown-menu .active>.dropdown-item {
    color: #fd5631
}

.dropdown-menu .active>.dropdown-item,.dropdown-menu .dropdown-item.active {
    pointer-events: none
}

.dropdown-menu.dropdown-menu-dark li:hover>.dropdown-item {
    color: #fff
}

.dropdown-menu.dropdown-menu-dark .active>.dropdown-item {
    color: #fff
}

.dropdown-menu.w-100 {
    min-width: 100%
}

.dropdown-item {
    transition: color .2s ease-in-out
}

.dropdown-item>i {
    margin-top: -0.125rem;
    transition: opacity .25s ease-in-out
}

.dropdown-item:hover>i,.dropdown-item.active>i {
    opacity: 1 !important
}

.dropdown-header {
    border-bottom: 0;
    font-size: 1rem
}

.dropdown-divider {
    margin-right: 1rem;
    margin-left: 1rem
}

.dropdown-menu.show {
    -webkit-animation: fade-in .25s ease-in-out;
    animation: fade-in .25s ease-in-out
}

.dropdown-toggle-split::after {
    margin-left: -0.0625rem !important
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes slide-up {
    from {
        transform: translateY(0.5rem);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes slide-up {
    from {
        transform: translateY(0.5rem);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}
